{% extends 'main/pattern.html' %}

{% block content %}

<div class="title-content">
    <h2>Лучшие аниме</h2>
</div>

<div class="anime-list">
    <a href="#" class="item">
        <img src="https://desu.shikimori.one/uploads/poster/animes/5114/preview-d57bfc92100292f6ff394cad384ba2f3.webp" alt="">
        <p>Стальной алхимик: Братство</p>
        <div class="info">
            <span class="type">TV сериал</span>
            <span class="year">2009</span>
        </div>
    </a>
    <a href="#" class="item">
        <img src="https://desu.shikimori.one/uploads/poster/animes/9253/preview-aadd2448a04c337b38c563c40f32c1db.webp" alt="">
        <p>Врата Штейна</p>
        <div class="info">
            <span class="type">TV сериал</span>
            <span class="year">2011</span>
        </div>
    </a>
    <a href="#" class="item">
        <img src="https://desu.shikimori.one/uploads/poster/animes/28977/preview-3c17ffd9ba06562864f22a9cf3208750.webp" alt="">
        <p>Гинтама 4</p>
        <div class="info">
            <span class="type">TV сериал</span>
            <span class="year">2015</span>
        </div>
    </a>
    <a href="#" class="item">
        <img src="https://desu.shikimori.one/uploads/poster/animes/41467/preview-1bb3aed9c98eb9253babd8c2d65ddce7.webp" alt="">
        <p>Блич: Тысячелетняя кровавая война</p>
        <div class="info">
            <span class="type">TV сериал</span>
            <span class="year">2022</span>
        </div>
    </a>
    <a href="#" class="item">
        <img src="https://desu.shikimori.one/uploads/poster/animes/38524/preview-973a3b9c0a70cc1a7cfb98d8ebdb19d6.webp" alt="">
        <p>Атака титанов 3. Часть 2</p>
        <div class="info">
            <span class="type">TV сериал</span>
            <span class="year">2019</span>
        </div>
    </a>
</div>
{% endblock content %}

